.searchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--sky-300);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}

.searchBox textarea {
    display: block;
    width: 100%;
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    background-color: transparent;
    font-family: inherit;
    font-size: 14px;
    letter-spacing: inherit;
    height: 100%;
    bottom: 0px;
    overflow: hidden;
    resize: none;
    outline: none;
    border: none;
    padding-inline: 10px;
}

.messageHidden {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    color: transparent;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border: 1px solid transparent;
    text-align: start;
}

.wrapper {
    position: relative;
    overflow-y: visible;
    width: 100%;
    padding-inline: 10px;
}

.spanhidden {
    font-family: inherit;
    font-size: 14px;
    letter-spacing: inherit;
}